---
- name: Copy configuration files and secrets
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0700"
  loop:
  - src: psk.secret.j2
    dest: /qasmat-swarm/psk.secret
