---
- name: Copy configuration files and secrets
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: "{{ qasmat_user }}"
    group: "{{ qasmat_user }}"
    mode: "0700"
  loop:
  - src: redis_password.secret.j2
    dest: /qasmat-swarm/redis_password.secret
  - src: jwt.secret.j2
    dest: /qasmat-swarm/jwt.secret
  - src: session.secret.j2
    dest: /qasmat-swarm/session.secret
  - src: storage_encryption_key.secret.j2
    dest: /qasmat-swarm/storage_encryption_key.secret
  - src: psk.secret.j2
    dest: /qasmat-swarm/psk.secret
