---
- name: Copy configuration files and secrets
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: root
    group: root
    mode: "0700"
  loop:
  - src: Caddyfile.j2
    dest: /caddy/config/Caddyfile
  - src: config.json.j2
    dest: /webclient/config/config.json
  - src: oidc_config.json.j2
    dest: /webclient/config/oidc_config.json
