---
- name: Copy configuration files and secrets
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: "{{ qasmat_user }}"
    group: "{{ qasmat_user }}"
    mode: "0700"
  loop:
  - src: configuration.yml.j2
    dest: /authelia/authelia-config/configuration.yml
  - src: users.yml.j2
    dest: /authelia/authelia-users/users.yml
  - src: Caddyfile.j2
    dest: /caddy/config/Caddyfile
  - src: config.json.j2
    dest: /webclient/config/config.json
