---
- name: Log in to registry
  community.docker.docker_login:
    registry_url: "{{ registry.url }}"
    username: "{{ registry.username }}"
    password: "{{ registry.token }}"
  when: (registry.token is defined) and (registry.username is defined)
- name: Pull images
  community.docker.docker_image:
    name: "{{ item }}"
    source: pull
  loop:
  - "{{ docker_images.repository }}/{{ docker_images.web.name }}:{{ docker_images.web.tag }}"
  - "{{ docker_images.repository }}/{{ docker_images.storage.name }}:{{ docker_images.storage.tag }}"
  - "{{ docker_images.repository }}/{{ docker_images.proxy.name }}:{{ docker_images.proxy.tag }}"
  - docker.io/authelia/authelia:latest
  - redis:latest
