---
- name: Log in to registry
  community.docker.docker_login:
    registry_url: "{{ registry.url }}"
    username: "{{ registry.username }}"
    password: "{{ registry.token }}"
  when: (registry.token is defined) and (registry.username is defined)

- name: Pull images - web
  community.docker.docker_image:
    name: "{{ docker_images.repository }}/{{ docker_images.web.name }}:{{ docker_images.web.tag }}"
    source: pull
  when: "'web' in group_names"

- name: Pull images - proxy
  community.docker.docker_image:
    name: "{{ docker_images.repository }}/{{ docker_images.proxy.name }}:{{ docker_images.proxy.tag }}"
    source: pull
  when: "'proxy' in group_names"

- name: Pull images - storage
  community.docker.docker_image:
    name: "{{ docker_images.repository }}/{{ docker_images.storage.name }}:{{ docker_images.storage.tag }}"
    source: pull
  when: "'storage' in group_names"
