networks:
  my-overlay-net:
    driver: overlay
    attachable: true  # Allows standalone containers to attach to this network
    driver_opts:
      encrypted: ""

secrets:
  PSK_SECRET:
    file: ./psk.secret

services:
  web-client:
    image: "{{ docker_images.repository }}/{{ docker_images.web.name }}:{{ docker_images.web.tag }}"
    depends_on:
      - proxy
    restart: 'unless-stopped'
    cap_add:
      - NET_ADMIN
    ports:
      - 80:80
      - 443:443
      - 443:443/udp
      - 2019:2019
    volumes:
      - '/caddy/config:/etc/caddy'
      - '/caddy/data:/data'
      - '/webclient/config:/srv/config'
    networks:
      - my-overlay-net
    deploy:
      placement:
        constraints:
          - node.hostname == {{ hostvars['web'].ansible_hostname }}

  {{ storage1 }}:
    image: "{{ docker_images.repository }}/{{ docker_images.storage.name }}:{{ docker_images.storage.tag }}"
    environment:
      - NFLAG=-n
      - NAME={{ storage1 }}
      - CFLAG=-c
      - CPATH=/Qasmat/config/storage-config-storage1.json
    restart: 'unless-stopped'
    depends_on:
      - proxy
    volumes:
      - '/Qasmat/config:/Qasmat/config'
      - '/Qasmat/database:/Qasmat/database'
      - '/Qasmat/share_storage_{{ storage1 }}:/Qasmat/share_storage_{{ storage1 }}'
    networks:
      - my-overlay-net
    deploy:
      placement:
        constraints:
          - node.hostname == {{ hostvars['storage1'].ansible_hostname }}
    dns_search:
      - vq.local
    secrets:
    - source: PSK_SECRET
      target: /Qasmat/secret
  {{ storage2 }}:
    image: "{{ docker_images.repository }}/{{ docker_images.storage.name }}:{{ docker_images.storage.tag }}"
    environment:
      - NFLAG=-n
      - NAME={{ storage2 }}
      - CFLAG=-c
      - CPATH=/Qasmat/config/storage-config-storage2.json
    restart: 'unless-stopped'
    depends_on:
      - proxy
    volumes:
      - '/Qasmat/config:/Qasmat/config'
      - '/Qasmat/database:/Qasmat/database'
      - '/Qasmat/share_storage_{{ storage2 }}:/Qasmat/share_storage_{{ storage2 }}'
    networks:
      - my-overlay-net
    deploy:
      placement:
        constraints:
          - node.hostname == {{ hostvars['storage2'].ansible_hostname }}
    dns_search:
      - vq.local
    secrets:
      - source: PSK_SECRET
        target: /Qasmat/secret
  {{ storage3 }}:
    image: "{{ docker_images.repository }}/{{ docker_images.storage.name }}:{{ docker_images.storage.tag }}"
    environment:
      - NFLAG=-n
      - NAME={{ storage3 }}
      - CFLAG=-c
      - CPATH=/Qasmat/config/storage-config-storage3.json
    restart: 'unless-stopped'
    depends_on:
      - proxy
    volumes:
      - '/Qasmat/config:/Qasmat/config'
      - '/Qasmat/database:/Qasmat/database'
      - '/Qasmat/share_storage_{{ storage3 }}:/Qasmat/share_storage_{{ storage3 }}'
    networks:
      - my-overlay-net
    deploy:
      placement:
        constraints:
          - node.hostname == {{ hostvars['storage3'].ansible_hostname }}
    dns_search:
      - vq.local
    secrets:
      - source: PSK_SECRET
        target: /Qasmat/secret
  proxy:
    image: "{{ docker_images.repository }}/{{ docker_images.proxy.name }}:{{ docker_images.proxy.tag }}"
    hostname: proxy.vq.local
    environment:
      - CFLAG=-c
      - CPATH=/Qasmat/config/proxy-config.json
      - DATABASE_URL=/Qasmat/database/proxy.db
      - OIDC_ISSUER={{ oidc_issuer  }}
      - OIDC_CLIENT_ID={{ api_oidc_client_id  }}
    restart: 'unless-stopped'
    volumes:
      - '/Qasmat/config:/Qasmat/config'
      - '/Qasmat/database:/Qasmat/database'
    networks:
      - my-overlay-net
    deploy:
      placement:
        constraints:
          - node.hostname == {{ hostvars['proxy'].ansible_hostname }}
    dns_search:
      - vq.local
    secrets:
      - source: PSK_SECRET
        target: /Qasmat/secret

{% if keycloak_dns is defined %}
  keycloak:
    image: quay.io/keycloak/keycloak
    command: start
    environment:
      KC_HOSTNAME: "{{ keycloak_dns }}"
      KC_HTTP_ENABLED: "true"
      KC_HTTPS_PORT: 443

      KC_PROXY: "edge"
      KC_PROXY_HEADERS: "xforwarded"

      KEYCLOAK_ADMIN: "{{ keycloak_admin_user }}"
      KEYCLOAK_ADMIN_PASSWORD: "{{ keycloak_admin_password }}"
    ports:
      - "{{ keycloak_port }}:8080"
    networks:
      - my-overlay-net
    restart: always
    deploy:
      placement:
        constraints:
          - node.hostname == {{ hostvars['keycloak'].ansible_hostname }}
{% endif %}
