networks:
  my-overlay-net:
    external: true

secrets:
  PSK_SECRET:
    file: ./psk.secret

services:
  {{ storage1 }}:
    image: "{{ docker_images.repository }}/{{ docker_images.storage.name }}:{{ docker_images.storage.tag }}"
    user: "10001:10001"
    environment:
      - NFLAG=-n
      - NAME={{ storage1 }}
      - CFLAG=-c
      - CPATH=/Qasmat/config/storage-config-storage1.json
    restart: 'unless-stopped'
    depends_on:
      - proxy
    volumes:
      - '/Qasmat/config:/Qasmat/config'
      - '/Qasmat/share_storage_{{ storage1 }}:/Qasmat/share_storage_{{ storage1 }}'
    networks:
      - my-overlay-net
    deploy:
      placement:
        constraints:
          - node.hostname == {{ hostvars['storage1']['ansible_hostname'] }}
    dns_search:
      - vq.local
    secrets:
    - source: PSK_SECRET
      target: /Qasmat/secret
  {{ storage2 }}:
    image: "{{ docker_images.repository }}/{{ docker_images.storage.name }}:{{ docker_images.storage.tag }}"
    user: "10001:10001"
    environment:
      - NFLAG=-n
      - NAME={{ storage2 }}
      - CFLAG=-c
      - CPATH=/Qasmat/config/storage-config-storage2.json
    restart: 'unless-stopped'
    depends_on:
      - proxy
    volumes:
      - '/Qasmat/config:/Qasmat/config'
      - '/Qasmat/share_storage_{{ storage2 }}:/Qasmat/share_storage_{{ storage2 }}'
    networks:
      - my-overlay-net
    deploy:
      placement:
        constraints:
          - node.hostname == {{ hostvars['storage2']['ansible_hostname'] }}
    dns_search:
      - vq.local
    secrets:
      - source: PSK_SECRET
        target: /Qasmat/secret
  {{ storage3 }}:
    image: "{{ docker_images.repository }}/{{ docker_images.storage.name }}:{{ docker_images.storage.tag }}"
    user: "10001:10001"
    environment:
      - NFLAG=-n
      - NAME={{ storage3 }}
      - CFLAG=-c
      - CPATH=/Qasmat/config/storage-config-storage3.json
    restart: 'unless-stopped'
    depends_on:
      - proxy
    volumes:
      - '/Qasmat/config:/Qasmat/config'
      - '/Qasmat/share_storage_{{ storage3 }}:/Qasmat/share_storage_{{ storage3 }}'
    networks:
      - my-overlay-net
    deploy:
      placement:
        constraints:
          - node.hostname == {{ hostvars['storage3']['ansible_hostname'] }}
    dns_search:
      - vq.local
    secrets:
      - source: PSK_SECRET
        target: /Qasmat/secret
  proxy:
    image: "{{ docker_images.repository }}/{{ docker_images.proxy.name }}:{{ docker_images.proxy.tag }}"
    hostname: proxy.vq.local
    user: "10001:10001"
    environment:
      - CFLAG=-c
      - CPATH=/Qasmat/config/proxy-config.json
      - DATABASE_URL=sqlite:///Qasmat/database/proxy.db
      - OIDC_ISSUER={{ oidc_issuer  }}
      - OIDC_CLIENT_ID={{ api_oidc_client_id  }}
    restart: 'unless-stopped'
    extra_hosts:
      - "{{ keycloak_dns }}:host-gateway"
    volumes:
      - '/Qasmat/config:/Qasmat/config'
      - '/Qasmat/database:/Qasmat/database'
{% if license_path and tier is defined %}
      - '/Qasmat/license:/Qasmat/license'
{% endif %}

    networks:
      - my-overlay-net
    deploy:
      placement:
        constraints:
          - node.labels.proxy_server == true
    dns_search:
      - vq.local
    secrets:
      - source: PSK_SECRET
        target: /Qasmat/secret
