
{{ api_dns }} {
    reverse_proxy proxy:3000 
}

{{ web_dns }} {
    header /config/* {
        Cache-Control "no-cache, no-store, must-revalidate"
    }
    root * /srv
    try_files {path} /
    file_server browse
}

{% if keycloak_dns is defined %}
{{ keycloak_dns }} {
    reverse_proxy keycloak:8080 {
        header_up X-Forwarded-Proto https
        header_up X-Forwarded-Host {host}
        header_up X-Forwarded-For {remote}
    }
}
{% endif  %}
