
{{ api_dns }} {
    vars proxy_upstream proxy:3000
    reverse_proxy {vars.proxy_upstream}
}

{{ web_dns }} {
    header /config/* {
        Cache-Control "no-cache, no-store, must-revalidate"
    }
    root * /srv
    try_files {path} /
    file_server browse
}

{% if keycloak_dns is defined %}
{{ keycloak_dns }} {
    vars keycloak_upstream keycloak_keycloak:8080
    reverse_proxy {vars.keycloak_upstream} {
        header_up X-Forwarded-Proto https
        header_up X-Forwarded-Host {host}
        header_up X-Forwarded-For {remote}
    }
}
{% endif %}
