---
- name: Create directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: root
    group: root
    mode: "0700"
  loop:
  - /Qasmat
  - /Qasmat/database
  - /Qasmat/config
  - /Qasmat/share_storage_{{ storage1 }}
  - /Qasmat/share_storage_{{ storage2 }}
  - /Qasmat/share_storage_{{ storage3 }}
  - /qasmat-swarm
  - /authelia
  - /authelia/authelia-users
  - /authelia/authelia-config
  - /redis
  - /redis/data
  - /caddy
  - /caddy/data
  - /caddy/config
  - /webclient
  - /webclient/config
