---
- name: Gather info from all nodes
  hosts: all
  gather_facts: true
  become: true

- name: Add qasmat config
  hosts:
  - proxy
  - storage
  become: true
  roles:
  - role: add_qasmat_config

- name: Add web config
  hosts: web
  become: true
  roles:
  - role: add_web_config

- name: Pull docker_images
  hosts:
  - proxy
  - storage
  - web
  become: true
  roles:
  - role: docker_login_pull

- name: Deploy
  hosts: "{{ groups['proxy'][0] }}"
  become: true
  roles:
  - role: docker_swarm_deploy

- name: Deploy Keycloak
  hosts: keycloak
  become: true
  roles:
  - role: keycloak
    when: keycloak_dns is defined
